<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polls app</title>
    {% load static %}

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    <script src="{% static 'polls/float-panel.js' %}"></script>
</head>
<body>
<h1 style="text-align: center">Recent questions</h1>

{% if latest_question_list %}
<div class="collection slideanim">
    {% for question in latest_question_list %}
    <a class="collection-item" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
    {% endfor %}
</div>
{% else %}
<p>No polls are available.</p>
{% endif %}

</body>
</html>